## Type casting with pandas

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
cars=pd.read_csv('C:\\Users\\PC\\Documents\\DA\\datas\\Car_sales.csv')

In [4]:
cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [9]:
cars.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
76,Lincoln,Continental,13.798,20.525,Passenger,39.080,4.6,275.0,109.0,73.6,208.5,3.868,20.0,22.0,8/3/2012,113.540207
39,Dodge,Viper,0.916,58.470,Passenger,69.725,8.0,450.0,96.2,75.7,176.7,3.375,19.0,16.0,8/7/2011,188.144323
82,Mitsubishi,Diamante,5.711,16.575,Passenger,24.997,3.5,210.0,107.1,70.3,194.1,3.443,19.0,22.0,8/28/2012,84.830779
55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23.0,1/14/2012,47.389531
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
81,Mitsubishi,Galant,55.616,10.595,Passenger,17.357,2.4,145.0,103.7,68.5,187.8,2.945,16.3,25.0,1/29/2012,58.606773
137,Toyota,Camry,247.994,13.245,Passenger,17.518,2.2,133.0,105.2,70.1,188.5,2.998,18.5,27.0,2/10/2011,54.372420
142,Toyota,RAV4,25.106,13.325,Car,16.888,2.0,127.0,94.9,66.7,163.8,2.668,15.3,27.0,5/6/2011,51.955109
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
14,Cadillac,DeVille,63.729,22.525,Passenger,39.895,4.6,275.0,115.3,74.5,207.2,3.978,18.5,22.0,2/23/2012,113.854598

In [10]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [11]:
cars.dropna(inplace=True)

In [12]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

In [15]:
cars.Latest_Launch.unique()

array(['2/2/2012', '6/3/2011', '3/10/2011', '10/8/2011', '8/9/2011',
       '2/27/2012', '1/29/2012', '4/4/2011', '11/2/2011', '9/3/2011',
       '3/23/2012', '7/23/2011', '2/23/2012', '11/27/2011', '9/28/2011',
       '8/17/2011', '3/19/2012', '5/24/2011', '12/22/2011', '10/23/2011',
       '5/12/2012', '9/11/2011', '4/13/2012', '1/16/2012', '11/17/2011',
       '6/6/2012', '10/6/2011', '5/8/2012', '12/12/2011', '7/1/2012',
       '10/31/2011', '8/7/2011', '3/6/2012', '1/6/2012', '7/26/2012',
       '11/25/2011', '9/1/2011', '3/31/2012', '1/31/2012', '8/20/2012',
       '12/20/2011', '9/26/2011', '4/25/2012', '2/25/2012', '9/14/2012',
       '1/14/2012', '8/16/2012', '10/21/2011', '5/20/2012', '3/21/2012',
       '10/9/2012', '2/8/2012', '9/10/2012', '11/15/2011', '6/14/2012',
       '4/15/2012', '3/4/2012', '10/5/2012', '12/10/2011', '7/9/2012',
       '5/10/2012', '3/29/2012', '8/3/2012', '6/4/2012', '4/23/2012',
       '11/24/2012', '8/28/2012', '6/29/2012', '1/17/2012', '5/18/2012',
       '12/19/2012', '9/22/2012', '7/24/2012', '2/13/2008', '10/20/2009',
       '4/24/2011', '7/12/2011', '6/13/2011', '3/17/2011', '8/31/2011',
       '8/2/2011', '5/6/2011', '3/7/2011', '9/25/2011', '5/31/2011',
       '2/18/2011', '9/21/2011', '6/25/2011', '4/26/2011', '11/14/2011',
       '1/25/2012', '11/26/2012', '6/16/2012', '10/15/2012', '5/18/2011',
       '2/19/2012', '12/21/2012', '7/11/2011', '3/16/2011', '1/15/2011',
       '4/11/2011', '2/10/2011', '12/29/2012', '8/1/2011', '1/24/2011',
       '8/27/2011', '10/30/2012', '4/1/2011'], dtype=object)

In [18]:
cars['Latest_Launch']=pd.to_datetime(cars.Latest_Launch)

In [19]:
cars.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105

In [20]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 15.5+ KB

In [21]:
cars['Year']=pd.DatetimeIndex(cars.Latest_Launch).year

In [22]:
cars['Month']=pd.DatetimeIndex(cars.Latest_Launch).month

In [23]:
cars['Day']=pd.DatetimeIndex(cars.Latest_Launch).day

In [24]:
cars.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8,9

In [25]:
cars.Fuel_efficiency=cars.Fuel_efficiency.astype(int)

In [26]:
cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,1,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,8,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,10,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,5,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,4,1

In [27]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int32
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  Month                117 non-null    int64
 18  Day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(1), int64(3), object(3)
memory usage: 17.8+ KB

In [28]:
cars.Fuel_efficiency=cars.Fuel_efficiency.astype('int64')

In [29]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  Month                117 non-null    int64
 18  Day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int64(4), object(3)
memory usage: 18.3+ KB

In [31]:

cars.Month.replace({
    1:'January',
    2:'February',
    3:'March',
    4:'April',
    5:'May',
    6:'June',
    7:'July',
    8:'August',
    9:'September',
    10:'October',
    11:'November',
    12:'December' },inplace=True)

In [32]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  Month                117 non-null    object
 18  Day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int64(3), object(4)
memory usage: 18.3+ KB

In [34]:
cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,February,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,June,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,March,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,October,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,August,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,January,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,August,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,October,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,May,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,April,1

# Label encoder

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
le= LabelEncoder()

In [41]:
cars['Le_Vehicle']=le.fit_transform(cars.Vehicle_type)

In [42]:
cars.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle
64,Hyundai,Sonata,29.450,8.910,Passenger,14.999,2.4,148.0,106.3,71.6,185.4,3.072,17.2,25,2012-06-14,58.758249,2012,June,14,1
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,February,2,1
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,174.3,2.398,13.2,33,2011-09-11,48.297636,2011,September,11,1
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,175.1,2.339,11.9,32,2011-10-21,42.879097,2011,October,21,1
51,Ford,Crown Victoria,63.403,14.210,Passenger,22.195,4.6,200.0,114.7,78.2,212.0,3.908,19.0,21,2011-09-26,80.499537,2011,September,26,1
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,182.6,3.947,21.0,19,2011-09-25,72.290355,2011,September,25,0
79,Mitsubishi,Mirage,26.232,8.325,Passenger,13.987,1.8,113.0,98.4,66.5,173.6,2.250,13.2,30,2012-04-23,45.832181,2012,April,23,1
65,Infiniti,I30,23.713,19.690,Passenger,29.465,3.0,227.0,108.3,70.2,193.7,3.342,18.5,25,2012-04-15,92.436889,2012,April,15,1
111,Oldsmobile,Aurora,14.690,19.890,Passenger,36.229,4.0,250.0,113.8,74.4,205.4,3.967,18.5,22,2011-02-18,103.441693,2011,February,18,1
101,Nissan,Sentra,42.643,8.450,Passenger,13.499,1.8,126.0,99.8,67.3,177.5,2.593,13.2,30,2011-08-31,50.241978,2011,August,31,1

In [46]:
cars['Le_Manufacturer']=le.fit_transform(cars.Manufacturer)

In [47]:
cars.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer
62,Hyundai,Accent,41.184,5.860,Passenger,9.699,1.5,92.0,96.1,65.7,...,2.240,11.9,31,2012-09-10,36.672284,2012,September,10,1,10
86,Mercury,Mystique,14.351,8.800,Passenger,16.240,2.0,125.0,106.5,69.1,...,2.769,15.0,28,2012-12-19,50.997748,2012,December,19,1,16
93,Mercedes-B,E-Class,27.602,41.450,Passenger,49.900,3.2,221.0,111.5,70.8,...,3.823,21.1,25,2011-07-12,98.249737,2011,July,12,1,15
48,Ford,Contour,35.068,8.835,Passenger,17.035,2.5,170.0,106.5,69.1,...,2.769,15.0,25,2012-08-20,67.351011,2012,August,20,1,8
138,Toyota,Avalon,63.849,18.140,Passenger,25.545,3.0,210.0,107.1,71.7,...,3.417,18.5,26,2011-08-31,84.911898,2011,August,31,1,24
101,Nissan,Sentra,42.643,8.450,Passenger,13.499,1.8,126.0,99.8,67.3,...,2.593,13.2,30,2011-08-31,50.241978,2011,August,31,1,18
88,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,...,3.379,16.0,24,2012-09-22,62.239967,2012,September,22,1,16
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,...,3.948,25.0,22,2011-06-25,76.096570,2011,June,25,0,19
102,Nissan,Altima,88.094,11.295,Passenger,20.390,2.4,155.0,103.1,69.1,...,3.012,15.9,25,2011-08-02,63.313728,2011,August,2,1,18
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,...,2.967,15.9,24,2012-01-16,65.957184,2012,January,16,1,6

In [48]:
cars[cars['Le_Manufacturer']==1]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,October,8,1,1
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,...,3.561,18.5,22,2011-08-09,84.565105,2011,August,9,1,1
6,Audi,A8,1.380,39.000,Passenger,62.00,4.2,310.0,113.0,74.0,...,3.902,23.7,21,2012-02-27,134.656858,2012,February,27,1,1

In [52]:
cars.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer
120,Pontiac,Firebird,19.911,17.805,Passenger,25.310,3.8,200.0,101.1,74.5,...,3.492,16.8,25,2012-06-16,81.492726,2012,June,16,1,21
24,Chevrolet,Corvette,17.947,36.225,Passenger,45.705,5.7,345.0,104.5,73.6,...,3.210,19.1,22,2012-05-12,141.141150,2012,May,12,1,5
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,...,2.339,11.9,32,2011-10-21,42.879097,2011,October,21,1,9
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,...,4.121,19.0,21,2012-06-04,93.957917,2012,June,4,1,14
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,...,3.850,18.0,22,2011-03-10,91.389779,2011,March,10,1,0
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,...,3.368,17.5,25,2011-11-02,71.181451,2011,November,2,1,3
37,Dodge,Stratus,71.186,10.185,Passenger,20.230,2.5,168.0,108.0,71.0,...,3.058,16.0,24,2011-10-31,67.876108,2011,October,31,1,7
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,...,3.051,15.0,25,2012-03-19,67.314462,2012,March,19,1,5
121,Pontiac,Grand Prix,92.364,14.010,Passenger,21.665,3.8,195.0,110.5,72.7,...,3.396,18.0,25,2012-10-15,78.318168,2012,October,15,1,21
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,...,3.510,19.5,20,2012-05-18,70.660942,2012,May,18,0,17

In [50]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  Month                117 non-null    object
 18  Day                  117 non-null    int64
 19  Le_Vehicle           117 non-null    int32
 20  Le_Manufacturer      117 non-null    int32
dtypes: datetime64[ns](1), float64(11), int32(2), int64(3), object(4)
memory usage: 19.2+ KB

In [53]:
cars.Horsepower=cars.Horsepower.astype('int64')

In [54]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    int64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  Month                117 non-null    object
 18  Day                  117 non-null    int64
 19  Le_Vehicle           117 non-null    int32
 20  Le_Manufacturer      117 non-null    int32
dtypes: datetime64[ns](1), float64(10), int32(2), int64(4), object(4)
memory usage: 19.2+ KB

In [55]:
cars.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer
139,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140,102.4,68.3,...,2.425,14.5,31,2012-12-29,56.496030,2012,December,29,1,24
147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150,106.4,68.5,...,3.043,16.4,27,2012-10-30,61.701381,2012,October,30,1,25
84,Mitsubishi,Montero,11.337,19.125,Car,31.807,3.5,200,107.3,69.9,...,4.520,24.3,18,2012-01-17,83.920815,2012,January,17,0,17
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275,121.5,73.1,...,4.133,23.2,21,2011-06-13,125.273876,2011,June,13,1,15
45,Dodge,Caravan,181.749,12.025,Car,19.565,2.4,150,113.3,76.8,...,3.533,20.0,24,2011-09-01,61.227000,2011,September,1,0,7
70,Lexus,ES300,24.072,26.975,Passenger,31.505,3.0,210,105.1,70.5,...,3.373,18.5,23,2012-07-09,87.211001,2012,July,9,1,13
138,Toyota,Avalon,63.849,18.140,Passenger,25.545,3.0,210,107.1,71.7,...,3.417,18.5,26,2011-08-31,84.911898,2011,August,31,1,24
61,Honda,Odyssey,76.029,19.490,Car,26.000,3.5,210,118.1,75.6,...,4.288,20.0,23,2012-02-08,85.217691,2012,February,8,0,9
62,Hyundai,Accent,41.184,5.860,Passenger,9.699,1.5,92,96.1,65.7,...,2.240,11.9,31,2012-09-10,36.672284,2012,September,10,1,10
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115,97.4,66.7,...,3.079,13.7,26,2011-05-31,48.907372,2011,May,31,1,25